.whtap{
    position: fixed;
    /* width: 20px;
    height: 20px; */
    right: 10px;
    bottom: 10px;
    
}
.whtap span{
    /* box-shadow: 2px 2px 2px 2px; */
    border-radius: 5px;
    padding: 5px 5px;
    background-color: white;
}
.header{
    background-color: rgb(245, 205, 182);
    display: flex;
    width: 100%;
    height: 100px;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(53, 52, 52);
    width: 100%;
    
    
}
.navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 5px 5px;
    margin: 10px;
}
.navbar a:hover{
    color: rgb(139, 44, 148);
}
.imput{
    position: absolute;
}
.srch{
    height: 30px;
    /* margin-top: 10px; */
    /* top: 0px; */
    position: relative;
}
.search{
    background-color: rgb(109, 109, 109);
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 45px;
    border: none;

}
.main{
    position: relative;
}
.chem{
    position: absolute;
    left: 200px;
    top: 200px;
}
.cover{
    position: relative;
}
.wlcm{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    left: 210px;
    top: 150px;
}
/* .onlin{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 40px;
    left: 210px;
    top: 250px;
} */
.carousel-item img{
    width: 13%;
}
.prod{
    text-align: center;
    
}
.new-arrival h1{
    text-align: center;
}
.amount{
    font-size: 20px;
}
.products{
    display:flex;
    text-align: center;
    justify-content: center;
}

.card{
    padding: 10px;
    margin: 10px 10px;
    border: none;
}
.products2{
    display: flex;
}
.brws{
    text-align: center;
    margin-top: 30px;
}
footer{
    background-color: rgb(6, 6, 6);
    display: flex;
}
.medias{
    list-style: none;
    display: flex;
}
.medias a{
    padding: 15px 15px;
}
.col-lg-2{
    color: white;
}
.footeritms{
    color: rgba(255, 255, 255, 0.59);
    list-style: none;
    padding-left: 0px;
    padding-top: 8%;
}
.abt{
    margin-top: 22px;
}
h6{
    color: white;
}
.dtls{
    list-style: none;
    color: rgba(255, 255, 255, 0.518);
    padding-left: 0px;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 22px;
}
@media screen and (max-width:576px) {
    .products{
        display: block;
    }
    .products2{
        display: block;
    }
    .carousel-item img{
        /* width: 3%; */
    }
    .wlcm{
        font-size: 40px;
        left: 10%;
        top: 10%;
    }
    .wlcm p{
        font-size: 2vw;
    }
    .wlcm img{
        height: 50px;
    }
    .wlcm a{
        font-size: 1vw;
    }
   
}
@media only screen and (max-width:768px) and (min-width:576px){
    .products{
        display: block;
    }
    .products2{
        display: block;
    }
    .wlcm{
        font-size: 40px;
        left: 10%;
        top: 10%;
    }
    .wlcm p{
        font-size: 2vw;
    }
    .wlcm img{
        height: 50px;
    }
    .wlcm a{
        font-size: 1vw;
    }
}
@media only screen and (max-width:992px) and (min-width:768px){
    .products{
        display: block;
    }
    .products2{
        display: block;
    }
    .wlcm{
        font-size: 40px;
        left: 10%;
        top: 10%;
    }
    .wlcm p{
        font-size: 2vw;
    }
    .wlcm img{
        height: 50px;
    }
    .wlcm a{
        font-size: 1vw;
    } 
}

